mkdocs
mkdocs-material
pymdown-extensions
mkdocs-encryptcontent-plugin
jinja2
jieba
mkdocs-glightbox
urllib3<2
mkdocs-git-committers-plugin-2
mkdocs-markdownextradata-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-open-in-new-tab