:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #608DBD;
    --first-color-second: #608DBD;
    --first-color-alt: #608DBD;
    --first-color-lighter: #608DBD;

    --title-color: #608DBD;
    --text-color: #080505;
    --text-color-light: #f5ab17;

    --input-color: #F5EEE3;
    --body-color: #FDFBF8;
    --container-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  margin-bottom: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-right: var(--mb-0-5);
  transition: .3s;
  color: #FFF;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img{
  width: 400px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name{
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==================== SKILLS ====================*/
.skills__container{
  row-gap: 0;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color: var(--md-primary-fg-color);
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size: var(--h3-font-size);
}

.skills_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__number{
  margin-top: var(--mb-2-5);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display: block;
  background-color: var(--first-color);
}

.skills__fastapi{
  width: 90%;
}

.skills__django{
  width: 85%;
}

.skills__flask{
  width: 75%;
}

.skills__spring{
  width: 75%;
}

.skills__androidjava{
  width: 70%;
}

.skills__androidkotlin{
  width: 60%;
}

.skills__flutter{
  width: 60%;
}

.skills__aws{
  width: 80%;
}

.skills__azure{
  width: 75%;
}

.skills__oc{
  width: 70%;
}

.skills__cicd{
  width: 75%;
}

.skills__close .skills__list{
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data{
  display: grid;
  grid-template-columns: 1.5fr max-content 1.5fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--md-primary-fg-color--dark);
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--md-primary-fg-color);
  border-radius: 50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--md-primary-fg-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active{
  color: var(--first-color);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  .qualification__data{
    gap: .5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px){
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }

  .skills__container,
  .about__container,
  .portfolio__content,
  .project__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }

  .header,
  .main{
    padding: 0 1rem;
  }

  .home__container{
    row-gap: 5rem;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }
  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    text-align: initial;
  }
  .about__info{
    justify-content: space-between;
  }
  .about__buttons{
    justify-content: initial;
  }

  .qualification__tabs{
    justify-content: center;
  }
  .qualification__button{
    margin: 0 var(--mb-1);
  }
  .qualification__sections{
    grid-template-columns: .5fr;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main{
    padding: 0;
  }

  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }
  .qualification__sections{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
  }
}