:root > * {
  --md-primary-fg-color:        #518FC1;
  --md-primary-fg-color--light:#518FC1;
  --md-primary-fg-color--dark:  #518FC1;
    
}
/* 给所有元素加上边框 */
/* * {
  outline: 1px solid #518FC1;
}  */

button.md-top {
  font-family: LXGW WenKai; /* 修改字体 */
  font-size: 16px; /* 修改字体大小 */
  font-weight: lighter;/* 修改字体粗细 */
  color: #518FC1; /* 修改字体颜色 */
}

:root {
--md-text-font: "LXGW WenKai"; 
} /* 字体 */


.ml3 {
font-weight: 900;
font-size: 30px;
font-family: LXGW WenKai;
}


img.img1 {
border-radius: 25px;

}
img.img2 {
border-radius: 25px;

}

img.twitter {
  color: #1DA1F2;
}
.bilibili {
  color: #EA7A99;
}
.github {
  color: #25292E;
}
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

:root {
  --md-admonition-icon--pied-piper: url("data:image/svg+xml,%3Csvg width='30.000000' height='30.000000' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip103_2030'%3E%3Crect id='icon' width='30.000000' height='30.000000' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip103_2030)'%3E%3Cpath id='icon' d='M25.8 5.40002L25.8 24.6L4.20001 24.6L4.20001 5.40002L25.8 5.40002ZM9.60001 10.8L13.8 15L9.60001 19.2M15.6 19.2L21.6 19.2' stroke='%23101112' stroke-width='1.200000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
  font-size: large;
  
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}


:root {
  
  --md-admonition-icon--pied-piper1: url("data:image/svg+xml,%3Csvg width='30.000000' height='30.000000' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip103_2030'%3E%3Crect id='icon' width='30.000000' height='30.000000' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip103_2030)'%3E%3Cpath id='icon' d='M25.8 5.40002L25.8 24.6L4.20001 24.6L4.20001 5.40002L25.8 5.40002ZM9.60001 10.8L13.8 15L9.60001 19.2M15.6 19.2L21.6 19.2' stroke='%23101112' stroke-width='1.200000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.md-typeset .admonition.pied-piper1,
.md-typeset details.pied-piper1 {
  border-color: rgb(96,141,189);
  font-size: large;
  width: 100%;
  /* border-radius:25px; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  

  
}
.md-typeset .pied-piper1 > .admonition-title,
.md-typeset .pied-piper1 > summary {
  background-color: linear-gradient(to right, rgba(238, 243, 254));
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 45px;
  width: auto;
  

}
.md-typeset .pied-piper1 > .admonition-title::before,
.md-typeset .pied-piper1 > summary::before {
  background-color: rgb(31,31,33);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper1);
          mask-image: var(--md-admonition-icon--pied-piper1);
}  


/* .md-typeset .admonition-note,
.md-typeset details {
  border:2px solid;
  border-radius:25px;
  font-size:16px;

  padding: 30px; 
  
  height: 100%;
} */

/* 鼠标 */
/* body {
    cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/default.cur),
        default;
}
a,
img {
    cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/pointer.cur),
        default;
}  */


/* 鼠标end */

.git-revision-date-localized-plugin { color: #608DBD; }
/* 滚动条 */


::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background-color: rgba(73, 177, 245, 0.2);
border-radius: 2em;
}

::-webkit-scrollbar-thumb {
background-color: #49b1f5;
background-image: -webkit-linear-gradient(
  45deg,
  rgba(255, 255, 255, 0.4) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, 0.4) 50%,
  rgba(255, 255, 255, 0.4) 75%,
  transparent 75%,
  transparent
);
border-radius: 10px;

}

::-webkit-scrollbar-corner {
background-color: transparent;
}

::-moz-selection {
color: #fff;
background-color: #49b1f5;
}
::-webkit-scrollbar:hover {
width: 7px;
height: 7px;
}

/*bilbili*/
/*哔哩哔哩视频适配*/
.aspect-ratio {
position: relative;
width: 90%;
height: auto;
padding-bottom: 75%;
margin: 3% auto;
text-align: center;
}
.aspect-ratio iframe {
position: absolute;
width: 100%;
height: 86%;
left: 0;
top: 0;
}



/**/
.video1{
position: fixed;  
right: 0px;  
bottom: 0px;  
min-width: 100%;  
min-height: 100%;  
height: auto;  
width: auto;  
/*加滤镜*/
/*filter: blur(15px); //背景模糊设置 */
/*-webkit-filter: grayscale(100%);*/  
/*filter:grayscale(100%); //背景灰度设置*/  
z-index:-11

}

.video1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
source{  
min-width: 100%;  
min-height: 100%;  
height: auto;  
width: auto;  
} 
@media only screen and (max-width: 768px) {
#video1 {
  display: none;
}
}

/*圆角*/
#rcorners1 {
border-radius: 25px;
background: linear-gradient(to right, rgba(189,224,245),rgba(218,232,241), rgba(238,237,238));
/* #F0EFEB; F5F4F1*/
padding: 20px; 
width: 100%;
height: 100px;
text-align: center;
font-size:16px;
}


#rcorners2 {
border-radius: 25px;
border: 2px solid #518FC1;
padding: 20px; 
width: 100%;
height: 100%; 
font-size:16px;
}

#rcorners3 {
border-radius: 25px;
border: 2px solid #518FC1;
padding: 20px; 
width: 100%;
height: 100%; 
}


.image-container {
  text-align: center; /* 居中对齐容器中的内容 */
}

.image-container img {
  display: inline-block; /* 将图片水平排列在一行 */
  margin: 10px; /* 可以根据需要添加图片之间的间距 */
}



/* 渐变 */
#grad1 {
height: 200px;
background-color: red; /* 不支持线性的时候显示 */
background-image: linear-gradient(to bottom right, red , yellow);
}

/* 按钮 */
.buttoncss {
background-color: #4CAF50;
border-radius: 12px;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.buttoncss1 {
background-color: #567fd0;
border-radius: 12px;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}


.buttonxuan {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}

.buttonxuan1 {
background-color: white; 
color: black; 
border: 2px solid #4CAF50;
}
.buttonxuan1:hover {
background-color: #4CAF50;
color: white;
}

.buttonxuan2 {
display: inline-block;
background-color: #ACE48E;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
border:2px solid;
border-radius:25px;
}

.buttonxuan2 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buttonxuan2 span:after {
content: '»';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.buttonxuan2:hover span {
padding-right: 25px;
}

.buttonxuan2:hover span:after {
opacity: 1;
right: 0;
}
/* .buttonxuan3 */
.buttonxuan3:hover {
display: inline-block;
background-color: #5577D1;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
border:2px solid;
border-radius:25px;
}

.buttonxuan3 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buttonxuan3 span:after {
content: '»';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.buttonxuan3:hover span {
padding-right: 25px;
}

.buttonxuan3:hover span:after {
opacity: 1;
right: 0;
}



/* 蕴藏 */
div.hide {
background-color: yellow;
padding: 20px;
}

@media screen and (max-width: 1000px) {
div.hide {
  display: none;
}
}

/* 布局 */
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
display: grid;
grid:
'header header header header header header'
'menu main main main right right'
'menu footer footer footer footer footer';
grid-gap: 10px;
background-color: #2196F3;
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}

/* 添加过渡效果 */

* {
    transition-property: color, background-color;
    /* 设置过渡的属性 */
    transition-duration: 0.3s;
    /* 设置过渡的时间 */
    transition-timing-function: cubic-bezier(0.01, 0.34, 0.9, 1.14);
    /* 设置过渡的缓动函数 */
}

/*取消导航栏的背景色和阴影*/
/*因为左右侧导航栏(目录)的开头背景色是独立的,这里特殊处理一下*/
@media screen and (min-width: 76.25em) {

    .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link,
    .md-nav--secondary .md-nav__title {
        background: none;
        box-shadow: none;
    }
}

/*上面是过渡效果*/



/* 变灰代码 */
/* html {
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
-webkit-filter: grayscale(100%);} */




